#total-cost {
  display: none;
}

body {
  background-color: #40A6AD;
  background-image: url ("http://media.istockphoto.com/photos/teenaged-friends-sitting-together-outside-eating-pizza-picture-id471576410?k=6&m=471576410&s=612x612&w=0&h=_fyx430n1NK_IOlveY8GL_HBtlAZuT9vDyFG3umXzpw=");
}

.panel-body {
  opacity: .75;
}
